In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('mower_market_snapshot.csv', delimiter=";")

In [4]:
df

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [5]:
df.describe()

,capacity,failure_rate,id,margin,price,market_share,attractiveness
count,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000
mean,47.663266,0.166448,18958.000000,186.262609,260.075165,0.002144,0.636507
std,19.840501,0.073605,404.000825,191.011102,259.949127,0.001790,0.124016
min,0.013884,0.028906,18259.000000,52.943989,62.162200,0.000564,0.297384
25%,35.853890,0.095678,18608.500000,62.247602,73.379425,0.001135,0.549369
50%,50.309242,0.199796,18958.000000,66.299672,78.439753,0.001399,0.641351
75%,61.905015,0.228011,19307.500000,265.370973,384.265263,0.002446,0.726746
max,104.614865,0.302465,19657.000000,790.012898,964.973926,0.009314,0.952877

In [6]:
df.loc[:5]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
5,19.548213,0.035428,18268,728.284617,905.297503,177.01288573033196,auto-portee,Medium,3 ans,0.007596,0.777051

In [7]:
df.loc[2:5,('capacity','failure_rate','id')]

    capacity  failure_rate     id
2  20.190457      0.039111  19641
3  27.220131      0.041303  18728
4  16.370911      0.037938  18722
5  19.548213      0.035428  18268

In [8]:
df.sort_values(by='price', ascending=True).head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
535,43.410781,0.089094,19576,286.579692,62.162200,0,electrique,Low,2 anss,0.002389,0.622614
1052,50.843741,0.195125,18366,53.272369,62.855737,9.583368011630627,essence,Low,1 an.,0.001364,0.719494
696,63.785109,0.228977,18315,55.156346,63.692980,8.536633990796986,essence,Low,1 an.,0.001374,0.724895
710,55.682973,0.219791,18808,53.612922,63.984195,10.371273145783007,essence,Low,1 an,0.001545,0.815051
919,49.237933,0.232052,18290,55.214844,64.146445,8.931600382421172,essence,Low,1an,0.001269,0.669645

In [9]:
df[df['id']==18259]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1051,66.180234,0.249758,18259,61.182062,71.867486,10.685424253813672,essence,Low,1 an.,0.00154,0.81269

In [10]:
df.loc[df['id']==18259,:] #copie

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1051,66.180234,0.249758,18259,61.182062,71.867486,10.685424253813672,essence,Low,1 an.,0.00154,0.81269

In [11]:
df[df['id'].isin([18259,18262])]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
781,0.059048,0.241700,18262,58.573978,68.418652,9.844674524572053,essence,Low,1 an,0.001324,0.698436
1051,66.180234,0.249758,18259,61.182062,71.867486,10.685424253813672,essence,Low,1 an.,0.001540,0.812690